body {
	background-image: url("../images/HTML.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
a {
	text-decoration: none;
	color: #EBEBEB;
}
li {
	list-style-type: none;
	display: inline-block;
}
.input {
	padding-left: 1400px;
}
.menu > ul {
	background: #EE652A;
	padding-left: 0;
}
.menu > ul li {
	position: relative;
}
.menu > ul li:hover .drop {
	display: block;
}
.menu > ul li a {
	display: inline-block;
	padding: 10px;
}

.drop {
	position: absolute;
	top: 38px;
	left: 0;
	background: #EE652A;
	padding-left: 0;
	display: none;
}
.drop li {
	display: block;
}
.drop li a:hover {
	color: yellow;
	text-decoration: none;
}