body {
	background-image: url("../images/HTML.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
table {
	border: 0; 
	width: 100%; 
	padding: 5px; 
	vertical-align: top;
	border-spacing: 5px;
	padding: 5px;
}
table a:hover {
	text-decoration: none;
	background: gray;
}
table tr td {
	vertical-align: top;
	padding: 5px;
}
table tr td ul li {
	list-style-type: none; 
}
table tr td ul li a {
	color: #fff;
}
table tr td:nth-child(1){
	width: 20%;
	height: 1000px;
	background: rgba(255,221,0,.3);
}
table tr td:nth-child(2){
	width: 10%;
	border: 0px solid #2B35FF;
}
table tr td:nth-child(3){
	width: 40%;
}
table tr td:nth-child(4){
	width: 10%;
}
table tr td:nth-child(5){
	width: 20%;
	background: rgba(255,221,0,.3);
	border-style: outset 5px;
}
.table-right {
	text-align: left;
}
.content {
	height: 320px;
	background: rgba(249,36,71, .5);
	padding: 100px;

}
.content h2 {
	margin-top: 0;
	text-align: center;
	padding-top: 20px;

}